<div class="container">
    <h1>TekQuiz :: Login</h1>
    <form #loginForm="ngForm">
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="formData['email']" placeholder="your email" >
        </div>

        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="formData['password']" placeholder="enter Password">
        </div>
       
        <div class="form-group">
            <button class="btn btn-success" (click)="login(loginForm)">Login</button>
            &nbsp;
            <a routerLink="/register" class="btn purple mr-2">Register Here</a>
        </div>
    </form>
</div>


